/* fonts.css */
@font-face {
  font-family: "UTM-Yen-Tu";
  src: url("/fonts/UTM-Yen-Tu.woff2") format("woff2"),
    url("/fonts/UTM-Yen-Tu.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
